html{
	
	margin: 0px;
	padding: 0px;
}
.mainBox{
	
}

body{
	background-color: #1ba1e2;
}

.titleD{
	color: white; 
	font-family: 'Helvetica Neue', sans-serif;
	 font-size: 150px;
	  font-weight: bold;
	   letter-spacing: -1px;
	    line-height: 1;
}

.titleSub{
	 color: #111; 
	 font-family: 'Open Sans', sans-serif; 
	 font-size: 30px; font-weight: 300; 
	 line-height: 32px; 
	 margin: 0 0 72px; 
	 text-align: center;
}

hr.sty{ 
  border: 0; 
  height: 1px; 
  background: linear-gradient(to left,#1ba1e2,#f0f0f0,#1ba1e2); 
}
.btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7,.btn8{
	
	 box-shadow: 0 8px 6px -6px black;
	 border-left-style: solid;
	 border-right-style: solid;
}

.bton{
	background-color: #34495e;
	
}
.bton2{
	background-color: #f0a30a;
	
}

.btnGroupName{
	font-size: 24px;
	color: #ecf0f1;
}

.btnTitle{
	color:#1abc9c;
}
.fixin{
	height: 30px;
}


